@import "tailwindcss";

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.hover-pink {
  cursor: pointer;
  color: #374151;
  transition-property: color;
  transition-duration: 300ms;
}

.hover-pink:hover {
  color: #ec4899;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

svg:hover {
  cursor: pointer;
  z-index: 5000;
}
